*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Outfit',sans-serif;
}

body{
background:#060f09;
color:white;
overflow-x:hidden;
min-height:100vh;
}

/* NAVBAR */

.top-bar{
display:flex;
align-items:center;
gap:12px;
padding:20px 60px;
font-size:13px;
letter-spacing:3px;
background:rgba(255,255,255,0.05);
}

.nav-link{
text-decoration:none;
color:white;
}

.nav-link:hover{
color:#ff3232;
}

.nav-sep{
opacity:.3;
}

.cart{
margin-left:auto;
position:relative;
font-size:20px;
cursor:pointer;
}

.cart-count{
position:absolute;
top:-8px;
right:-10px;
background:red;
font-size:10px;
padding:2px 6px;
border-radius:10px;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 60px;
perspective:1200px;
}

.left{
max-width:550px;
}

.h1-title{
font-size:48px;
font-weight:900;
margin-bottom:30px;
}

.price{
font-size:60px;
font-weight:800;
}

.buttons{
display:flex;
gap:15px;
}

.btn-buy,
.btn-cart{
background:#e8000a;
border:none;
padding:14px 34px;
color:white;
border-radius:10px;
font-weight:700;
cursor:pointer;
transition:.3s;
}

.btn-buy:hover,
.btn-cart:hover{
transform:translateY(-3px);
box-shadow:0 8px 20px rgba(255,0,0,0.6);
}

/* RIGHT */

.right{
flex:1;
display:flex;
justify-content:flex-end;
align-items:center;
position:relative;
}

.headset-img{
width:520px;
max-width:100%;
transition:transform .15s ease;
}

.fly-img{
position:fixed;
width:120px;
pointer-events:none;
z-index:9999;
transition:all .8s cubic-bezier(.2,.8,.2,1);
}